<div class="landing">
    <div class="intro">
        <h2>Velkommen til Geoquiz</h2>
        <p>Gæt placeringen af attraktioner i Danmark ved at sætte en markør på kortet og klik derefter <span>GÆT</span>
        </p>
        <p>Data kommer fra
            <a href="https://www.openstreetmap.org" target="_blank">Open Street Map</a></p>
        <p>Vælg en kategori herunder</p>
    </div>
    <div class="categories">
        <div *ngFor="let cat of categories">
            <button mat-flat-button (click)="selected(cat.id)">
                <!-- <mat-icon>{{cat.icon}}</mat-icon> -->
                {{cat.name}}
            </button>
        </div>

    </div>
</div>