.landing {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(124, 122, 122, 0.8);
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;    
}

.intro {
    text-align: center;
    color: white;
    margin: 0px 10px;

    // span {
    //     color: black;
    //     background-image: url('../../assets/btn.jpeg');
    //     padding: 2px 10px;
    //     border-radius: 4px;
    // }

    a {
        text-decoration: none;
        color: rgb(49, 49, 49);
    }

    h2 {
        margin: 0px;
    }
}

.categories {
    
    button {
        // text-align: left;
        margin: 10px;
        width: 200px;
        background-image: url('../../assets/btn.jpeg');
        background-color: rgba(255, 250, 250, 0.418);
        font-family: 'Fredericka the Great', cursive;
        font-size: medium;
        color: rgb(49, 49, 49);
        padding: 10px;
    }
}