@import "../../variables.scss";

.landing {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    color: $fourth-color;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;    
}

.stamp {
    position: fixed;
    top: 15px;
    right: 0px;
    margin-bottom: 1rem;
    transform: rotate(15deg);
    color: $third-color;
    font-size: 1.2rem;
    font-weight: 700;
    border: 0.8rem double $third-color;
    display: inline-block;
    padding: 0.5rem;
    text-transform: uppercase;
    border-radius: 0;
    font-family: "Open sans", Helvetica, Arial, sans-serif;
    -webkit-mask-image: url('../../assets/grunge.png');
    -webkit-mask-size: 944px 604px;
}
  
.intro {
    text-align: center;
    margin: 0px 10px;
    max-width: 500px;

    span {
        color: $main-color;
    }

    h2 {
        margin: 0px;
    }
}

.categories {

    margin: 20px 0px;
    
    button {
        margin: 10px;
        width: 200px;
        background-color: $main-color;
        font-family: $main-font;
        font-size: large;
        color: $fourth-color;
        padding: 10px;
    }
}

.help {
    span {
        color: $third-color
    }
}

.attribution {
    color: rgb(233, 232, 232);
    font-size: small;
    position: fixed;
    bottom: 10px;
    a {
        text-decoration: none;
        color: $fourth-color;
    }
}