<div class="container">
    <div class="item">
        <h3>
            Finding <span class="num">{{data.questionNum}}</span> random <span>{{data.category}}s</span> out of
            <span class="num">{{data.featureCount}}</span>
        </h3>
        <div class="lds-roller">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>
</div>