<div class="container">
    <div class="item">
        <h3>
            Finder <span class="num">{{data.questionNum}}</span> tilfældige <span>{{data.category}}er</span> ud af
            <span class="num">{{data.featureCount}}</span>
        </h3>
        <div class="lds-roller">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>
</div>