.back {
    position: fixed;
    top:5px;
    right: 5px;
    z-index: 2;
}

.question {
    position: fixed;
    padding-left: 20px;
    z-index: 1;
    pointer-events: none;

    p {
        margin-bottom: 5px;
    }

    h2 {
        margin-top: 5px;
        color: rgb(75, 75, 75);

        span {
            color: rgb(236, 9, 168);
        }
    }
}

.btn {
    position: fixed;
    bottom: 30px;
    z-index: 1;
    text-align: center;
    width: 100%;

    button {
        text-transform: uppercase;
        font-family: 'Fredericka the Great', cursive !important;
        width: 200px;
        background-image: url('../assets/btn.jpeg');

        h3 {
            margin: 5px;
        }
    }
}