@import "../variables.scss";

.back {
    position: fixed;
    top:5px;
    right: 5px;
    z-index: 2;
    color: $fourth-color;
}

.question {
    position: fixed;
    padding-left: 20px;
    z-index: 1;
    pointer-events: none;

    .count {
        margin-bottom: 5px;
        color: $second-color;
    }

    h1 {
        margin-top: 12px;
        margin-bottom: 0;
        color: $fourth-color;
    }

    .war {
        margin: 0;
        text-align: right;
        margin-right: 10px;
        color: $third-color;
        span {
            background-color: rgba(0,0,0,0.4);
            padding: 5px;
        }
    }
}



.location {
    color: black;
}

.btn {
    position: fixed;
    bottom: 38px;
    z-index: 1;
    text-align: center;
    width: 100%;

    button {
        text-transform: uppercase;
        font-family: $main-font !important;
        width: 200px;
        background-color: rgba($main-color, 1);
        color: $fourth-color;
        h3 {
            margin: 5px;
        }
    }
}