<app-landing *ngIf="showLanding" [categories]="categories" [questionsNum]="questionNum"
    (selectCategory)="selectCategory($event)"></app-landing>
<app-loading *ngIf="showLoading" [data]="loadingData"></app-loading>
<button mat-icon-button class="back" *ngIf="!showLanding" (click)="playAgain()">
    <mat-icon>chevron_left</mat-icon>
</button>
<div *ngIf="!showLanding && !showLoading" class="question">
    <p class="count">{{index+1}}/{{questionNum}}</p>
    <h1 *ngIf="index < questionNum">
        Hvor ligger <span class="location">{{randomLocations[index].properties.name}}</span>?
    </h1>
</div>
<div *ngIf="!showLanding && !showLoading" class="btn">
    <button *ngIf="index < questionNum" mat-raised-button (click)="onClick()">
        <h2>{{buttonGuess ? 'Gæt' : 'Næste'}}</h2>
    </button>
    <button *ngIf="index >= questionNum" mat-raised-button (click)="handleSummery()">
        <h2>se resultat</h2>
    </button>
</div>
<app-summery *ngIf="showSummery" [distance]="totalDistance" (replay)="playAgain()"></app-summery>
<app-map></app-map>