@import "../variables.scss";

.back {
    position: fixed;
    top:5px;
    right: 5px;
    z-index: 2;
    color: $fourth-color;
}

.question {
    position: fixed;
    padding-left: 20px;
    z-index: 1;
    pointer-events: none;

    p {
        margin-bottom: 5px;
        color: $third-color;
    }

    h1 {
        margin-top: 5px;
        color: $fourth-color;
    }
}



.location {
    color: $main-color;
}

.btn {
    position: fixed;
    bottom: 38px;
    z-index: 1;
    text-align: center;
    width: 100%;

    button {
        text-transform: uppercase;
        font-family: $main-font !important;
        width: 200px;
        background-color: rgba($main-color, 1);
        color: $fourth-color;
        h3 {
            margin: 5px;
        }
    }
}