<div class="question">
    <h2 *ngIf="index < questionNum">
        Hvor ligger <span class="location">{{randomLocations[index].properties.name}}</span>?
    </h2>
</div>
<div class="btn">
    <button *ngIf="index < questionNum" mat-flat-button (click)="onClick()">{{buttonGuess ? 'Gæt' : 'Næste'}}</button>
    <button *ngIf="index >= questionNum" mat-flat-button (click)="handleSummery()">se resultat</button>
</div>
<app-summery *ngIf="showSummery" [distance]="totalDistance" (replay)="playAgain()"></app-summery>
<app-map></app-map>