@import "../../variables.scss";

.summary {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.item {
    text-align: center;
    color: $fourth-color;

    h1 > span {
        color: $main-color;
    }


}

.play-again {
    margin-top: 20px;

    button {
        text-transform: uppercase;
        background-color: $main-color;
        color: $fourth-color;
        font-size: large;
        padding: 10px;
        font-family: $main-font !important;
    }
}

.links {
    color: $third-color;
    padding: 10px;

    p {
        text-align: center;
    }

    li {
        padding-bottom: 10px;
        font-size: medium;
    }
    a:link {
        color: $fourth-color;
    }
}