/* You can add global styles to this file, and also import other style files */
@import "./variables.scss";

html,
body {
  height: 100%;
  width: 100%;
}
body {
  margin: 0;
  font-family: $main-font;
}

.mapboxgl-popup-content {
  font-family: $main-font;
  background-color: rgba(96, 96, 96, 0.6);
  text-align: center;
  color: $fourth-color;

  h3 {
    margin: 0px;
  }

  a:link, a:visited {
    color: $second-color;
    text-align: center;
    // text-decoration: none;
  }
}

.mapboxgl-popup-anchor-bottom .mapboxgl-popup-tip {
  border-top-color: $main-color;
}

.mapboxgl-ctrl-group {
  background-color: $fourth-color !important;
}

.mapboxgl-ctrl-logo {
  svg {
    fill: 'black' !important;
  }
}