/* You can add global styles to this file, and also import other style files */
html,
body {
  height: 100%;
  width: 100%;
}
body {
  margin: 0;
  font-family: 'Fredericka the Great', sans-serif;
  // font-family: 'Raleway', sans-serif;
  // font-family: 'Amatic SC', cursive;
  // font-family: 'Special Elite', cursive;
  // font-family: 'Nothing You Could Do', cursive;
}

.mapboxgl-popup-content {
  font-family: 'Fredericka the Great', cursive;
  background-color: rgba(96, 96, 96, 0.26);
  text-align: center;
  color: snow;

  h3 {
    margin: 0px;
  }

  a:link, a:visited {
    color: rgb(255, 254, 254);
    text-align: center;
    // text-decoration: none;
  }
}

.mapboxgl-popup-anchor-bottom .mapboxgl-popup-tip {
  border-top-color: #f08;
}